db.lock
NLBC/NLBC/obj/Debug
/NLBC/NLBC.Android/obj
/NLBC/NLBC.Android/obj/*
/NLBC.Android/obj/*
*NLBC/NLBC.Android/obj
*NLBC/NLBC.Android/obj/*
*NLBC.Android/obj/*
./NLBC/NLBC.Android/obj/*
obj/Debug/stamp/*
*obj/Debug*
NLBC/NLBC/obj/Debug
/NLBC/NLBC/obj/Debug
*NLBC/NLBC/obj/Debug
NLBC/NLBC.Android/obj
/NLBC/NLBC.Android/obj
*NLBC/NLBC.Android/obj